*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto','Arial';
}
li{
   list-style-type: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1F2937 ;
    padding: 30px;
}

.header h1{
    color: white;
    font-size: 35px;
    font-weight: 900;
    
    margin-left: 40px;
}
.header ul{
    display: flex;
    gap: 30px;
    margin-right: 30px;
    
}
.header ul a{
    color: white;
    text-decoration: none;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
.hero-section .left-text{
    margin-left: 60px;
    line-height: 1.3;
}

.hero-section .left-text h1{
color: white;
font-size: 48px;
}
.hero-section .left-text p{
color: white;
font-size: 18px;
}
.hero-section a{
    text-decoration: none;
    color: white;
    background-color: #3882f6;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    width: 80px;
}
.hero-section img{
    min-width: 500px;
    height: auto;
    margin-right: 60px;
}
.boxes-section{
    text-align: center;
    background-color: white;
    padding: 30px;
   
}
.boxes-section h1{
    font-size: 48px;
    margin-bottom: 25px;
}
.boxes-section .box{
    
    display: flex;
    flex-direction: column;
    width: 180px;
    
}
.boxes-section .inner-box{
    border: 2px solid blue;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 13px;
    margin-bottom: 10px;
}
.boxes-section p{
    text-align: center;
    font-size: 18px;
}
.box-section{
    display: flex;
    gap: 20px;
    
    padding: 6px;
   width: 900px;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-around;
}
.quotes-section{
    background-color: #ddd;
    padding: 60px;
    
}
.quotes-inner{
    margin: auto;
    
    display: flex;
    flex-direction: column;
    
}
.quotes-section p{
    
    
    font-size: 30px;
    width:650px ;
    text-align: start;
    margin:  auto;
    line-height: 1.3;
}
.quotes-section span{
    
    font-size: 21px;
    font-weight: 700;
   
    text-align: end;
    
    
}
.call-section{
    background-color: white;
    padding: 50px;
     margin: auto;
    
    
}
.call-section .call-box{
    display: flex;
    background-color: blue;
    
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width:800px;
}
.call-section h1 {
    font-size: 27px;
}
.call-section p{
    font-size: 19px;
}
.call-section .left-text{
    color: white;
    padding: 12px;
    line-height: 1.5;
    margin-left: 30;
}
.right-component button{
    color: white;
    border :2px solid white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: blue;
    margin: 29px 100px;
}
footer{
    background-color: #1F2937;
     color: white;
     padding: 40px;
     text-align: center;
}